@model Tradutor.Models.Utilizador

@{
    ViewBag.Title = "Criar Utilizador";
}

<h2>Criar Utilizador</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Utilizador</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Adicione outros campos que o modelo Utilizador tiver -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<hr />

<h3>Lista de Utilizadores</h3>

@if (ViewBag.ListaUtilizadores != null && ((List<Tradutor.Models.Utilizador>)ViewBag.ListaUtilizadores).Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var utilizador in (List<Tradutor.Models.Utilizador>)ViewBag.ListaUtilizadores)
            {
                <tr>
                    <td>@utilizador.Nome</td>
                    <td>@utilizador.Email</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = utilizador.Id }, new { @class = "btn btn-sm btn-warning" }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = utilizador.Id }, new { @class = "btn btn-sm btn-info" }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = utilizador.Id }, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum utilizador cadastrado.</p>
}
