@model Tradutor.Models.Idioma

@{
    string idioma = Session["Idioma"]?.ToString() ?? "pt";
    Func<string, string> T = texto => Tradutor.Helpers.TradutorHelper.Traduzir(texto, idioma);
    ViewBag.Title = T("Editar Idioma");
}

<h2>@T("Editar Idioma")</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@T("Idioma")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, T("Código"), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Codigo, new
                {
                    @class = "form-control",
                    placeholder = T("Digite o código do idioma")
                })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, T("Descrição"), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Descricao, new
                {
                    @class = "form-control",
                    placeholder = T("Digite a descrição do idioma")
                })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BandeiraUrl, T("URL da Bandeira"), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BandeiraUrl, new
                {
                    @class = "form-control",
                    placeholder = T("Cole a URL da bandeira")
                })
                @Html.ValidationMessageFor(model => model.BandeiraUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@T("Salvar")" class="btn btn-primary" />
                @Html.ActionLink(T("Cancelar"), "Index", null, new { @class = "btn btn-default ms-2" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
